__pycache__
build_debug/
build_release/
CMakeFiles
_deps
build/
cmake_install.cmake
CMakeCache.txt
Makefile
*.log
_deps
CMakeFiles
CMakeCache.txt
*.egg-info
cmake_install.cmake
Makefile
!docs/Makefile
.DS_Store
wheelhouse
package-lock.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
